.card-summary-main-div {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  border: 1px;
  min-height: 500px;
  position: sticky;
  top: 95px;
  background-color: white;
  z-index: 100;
}
