.cart-item-main-div{
 box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
 min-height: 150px;
  border-radius: 4px;
  border: 1px;
}

.product-image{
    width: 73px;
    height: auto;
}
.cart-counter-view {
  border-radius: 10%; 
   border: 2px solid #ccc;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(3, 3, 3);
  font-weight: bold;
}
.cart-trash{
    width: 50px;
    height: 30px;
}