.orders-main-div {
  background-color: rgba(233, 236, 239, 1);
}
.orders-rectangle-main-div {
  background-color: rgba(255, 255, 255, 1);
  width: 320px;
  height: 80px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: 1px;
}

.orders-rectangle-text {
  color: rgba(0, 123, 255, 1);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}

.mark-delivered-div {
    color: white;
  /* border: 1px solid rgb(43, 128, 248);; */
  background-color: green;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.mark-delivered-arrow{
  height: 30px;
}
.row-paid-div {
  background-color: green;
  border-radius: 25px;
  padding: 5px 10px;
  max-width: 65px;
  color: white;
  text-align: center;
  font-weight: bold;
}
.mark-as-delivered-div {
    color:rgb(43, 128, 248);
  border: 1px solid rgb(43, 128, 248);;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}